@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

html, body {
  height: 100%;
}

body{
  background: #F1F0E8;
  display: flex;
  flex-direction: column;
}

.text{
  font-size: 18px;
}

.title{
  margin-bottom: 35px;
}

p{
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.users{
  &_title{
    font-size: 32px;
    margin-bottom: 10px;
  }
  font-size: 20px;
}